body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1F1F1F; /* Uniform dark shade for background */
    color: #FFFFFF; /* White text color for simplicity and readability */
  }
  
  .hero-section {
    text-align: center;
    padding: 80px 20px; /* Increased padding for more whitespace */
    background-color: #1F1F1F; /* Uniform background for a clean look */
  }
  
  .main-heading {
    font-size: 3rem; /* Larger text for the main heading */
    color: #E06C75; /* A pop of color for the heading to draw attention */
    margin-bottom: 30px; /* More spacing between the heading and paragraph */
  }
  
  .main-paragraph {
    font-size: 1.1rem;
    color: #FFFFFF; /* White color for simplicity */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8; /* Slightly muted text for the paragraph */
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align boxes to the start */
    padding: 20px;
    gap: 20px; /* This ensures equal spacing in both dimensions */
  }
  
  .box {
    background: #292929; /* Darker background for boxes to stand out */
    padding: 20px; /* Adjust padding for better layout */
    flex: 0 0 calc(33.333% - 40px); /* Flex basis adjusted, no grow, no shrink */
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    border-radius: 12px; /* Softened rounded corners */
    border: 1px solid #333333; /* Subtle border */
    /* No need for margin-bottom since gap takes care of vertical spacing */
  }
  .box:hover {
    transform: translateY(-5px); /* Subtle hover effect */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); /* Deeper shadow for contrast */
  }
  
  .box-title {
    font-weight: 500; /* Less boldness for a lighter look */
    font-size: 1.5rem;
    color: #E06C75; /* Consistent accent color */
    margin-bottom: 20px; /* Adjusted spacing */
    padding-bottom: 0; /* Remove padding to eliminate the line */
  }
  
  .box-description {
    font-size: 0.95rem; /* Slightly smaller font size for a clean look */
    margin-top: 0; /* Reduce space to bring content closer together */
    opacity: 0.9; /* Slightly muted for a minimalistic look */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .box {
      width: calc(50% - 60px); /* Adjust box sizing for tablet and below */
    }
  }
  
  @media (max-width: 480px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .box {
      width: calc(90% - 60px); /* Allow for more horizontal space on small screens */
    }
  
    .main-heading {
      font-size: 2rem; /* Smaller size for better mobile fit */
    }
  
    .main-paragraph {
      font-size: 1rem; /* Adjust paragraph size for mobile readability */
    }
  }
  